.tile {
  width:150px;
  height: 150px;
  background-color: cadetblue;
}

.open-tile {
  background-color: antiquewhite;
  width:150px;
  height: 150px;
}

.done-tile {
  width: 150px;
  height: 150px;
  background-color: darkslateblue;
}


button:focus {
  background-color: transparent;
  color: black;
}

button {
  font-size: 5rem;
  color: black;
}

.padding {
  padding-left: 1%;
  padding-right: 1%;
}

.replay {
  font-size: 2rem;
  color: aliceblue;
  border-radius: 25%;
  background-color: cadetblue;
}
