.tile {
  width: 80px;
  height: 80px;
  background-color: cadetblue;
}

.open-tile {
  background-color: antiquewhite;
  width: 80px;
  height: 80px;
}

.done-tile {
  width: 80px;
  height: 80px;
  background-color: darkslateblue;
}

button:focus {
  outline: none;
  background: none;
  color: inherit;
}

button {
  font-size: 5rem;
  color: black;
}

h1 {
  color: darkslateblue;
}

.padding {
  padding-left: 1%;
  padding-right: 1%;
}

.replay {
  font-size: 2rem;
  color: aliceblue;
  border-radius: 25%;
  background-color: cadetblue;
}
.submit {
  height: 40px;
  font-size: 2rem;
  background-color: cadetblue;
}
